In [8]:
import pandas as pd 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn import  preprocessing

In [9]:
data = pd.read_csv("credit_data.csv")

In [11]:
data.head(5)

   clientid        income        age         loan       LTI  default
0         1  66155.925095  59.017015  8106.532131  0.122537        0
1         2  34415.153966  48.117153  6564.745018  0.190752        0
2         3  57317.170063  63.108049  8020.953296  0.139940        0
3         4  42709.534201  45.751972  6103.642260  0.142911        0
4         5  66952.688845  18.584336  8770.099235  0.130989        1

In [13]:
data.describe()

,clientid,income,age,loan,LTI,default
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1000.500000,45331.600018,40.927143,4444.369695,0.098403,0.141500
std,577.494589,14326.327119,13.262450,3045.410024,0.057620,0.348624
min,1.000000,20014.489470,18.055189,1.377630,0.000049,0.000000
25%,500.750000,32796.459717,29.062492,1939.708847,0.047903,0.000000
50%,1000.500000,45789.117313,41.382673,3974.719419,0.099437,0.000000
75%,1500.250000,57791.281668,52.596993,6432.410625,0.147585,0.000000
max,2000.000000,69995.685578,63.971796,13766.051239,0.199938,1.000000

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
clientid    2000 non-null int64
income      2000 non-null float64
age         2000 non-null float64
loan        2000 non-null float64
LTI         2000 non-null float64
default     2000 non-null int64
dtypes: float64(4), int64(2)
memory usage: 93.8 KB

In [18]:
data.columns

Index(['clientid', 'income', 'age', 'loan', 'LTI', 'default'], dtype='object')

In [24]:
data.features = data[['income','age', 'loan']]
data.target = data.default

In [23]:
data.features = preprocessing.MinMaxScaler().fit_transform(data.features)

In [26]:
feature_train,feature_test,target_train,target_test= train_test_split(data.features,data.target,test_size=0.3)

In [27]:
model = KNeighborsClassifier(n_neighbors=20)
fittedModel = model.fit(feature_train, target_train)
predictions = fittedModel.predict(feature_test)

In [28]:
print(confusion_matrix(target_test, predictions))
print(accuracy_score(target_test,predictions))

[[499   4]
 [ 95   2]]
0.835