In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error
import math

In [2]:
df = pd.read_csv('Salary_Data.csv')

In [3]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [8]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [9]:
Years=df['YearsExperience']
salary=df['Salary']

In [10]:
x=np.array('YearsExperience').reshape(-1,1)
y=np.array('Salary').reshape(-1,1)

In [13]:
model = LinearRegression()
model.fit(x,y)

C:\Users\Paul\Anaconda3\lib\site-packages\sklearn\utils\validation.py:532: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  FutureWarning)

ValueError: could not convert string to float: 'YearsExperience'

In [12]:
regression_model_mse = mean_squared_error(x,y)
print('MSE:', math.sqrt(regression_model_mse))
print('R squared value', model.score(x,y))

C:\Users\Paul\Anaconda3\lib\site-packages\sklearn\utils\validation.py:532: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  FutureWarning)
C:\Users\Paul\Anaconda3\lib\site-packages\sklearn\utils\validation.py:532: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  FutureWarning)

TypeError: ufunc 'subtract' did not contain a loop with signature matching types dtype('<U15') dtype('<U15') dtype('<U15')

In [ ]:
print(model.coef_[0])
print(model.intercept_[0])

In [ ]:
plt.scatter(x,y, color='yellow')
plt.plot(x,model.predict(x), color='black')
plt.title('LinearRegression')
plt.xlabel('YearsExperience')
plt.ylabel('Salary')
plt.show()

In [ ]:
print('Predition  By the model :', model.predict([[8.5]]))